{{template "base" .}}

{{define "title"}}MedievalMarket{{end}}

{{define "main"}}
<div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>

<p>Здесь пока ничего нет</p>
<a href="/sweet"><img src="../static/img/sleepy_cat.jpg"></a>
{{end}}